<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="containerPrincipal">
        <h1>SEJA BEM-VINDO A SUA LISTA DE TAREFAS</h1>
        <br>
        <a href="/" id="btnAddTarefa">VOLTAR</a>
        <br>
        <div class="listaTarefa">
            <form action="/criarCadastro" method="post" class="containerTarefas">
                <input type="text" id="inputDescCriar" name="tarefa">
            <button id="editar" type="submit">CRIAR TAREFA</button>
            </form>
        </div>
    </div>
</body>
</html> 