<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List - Editar Tarefa</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="containerPrincipal">
    <h1>SEJA BEM-VINDO A SUA LISTA DE TAREFAS</h1>
    <br>
    <a href="/cadastro" id="btnAddTarefa">NOVA TAREFA</a>
    <br>
    <div class="listaTarefa">
        <form action="/editaCadastro/<%= row.id %>" method="post" class="containerTarefas">
            <input type="text" value="<%= row.id %>" size="2" disabled id="inputId">
            <input type="text" id="inputDesc" name="tarefa" value="<%= row.description %>">
        <button id="editar" type="submit">EDITAR</button>
        <a id="apagar" href="/">VOLTAR</a>
        </form>
    </div>
</div>

</body>
</html>